body {
  text-align: center;
  background-color: #44321f;
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  position: absolute;
  left: 0;
  top: 25%;
  width: 640px;
  height: 640px;
}

.topping-options {
  display: flex;
  justify-content: space-evenly;
}